body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0056b3;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-icon {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}

.profile {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 8px 0;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

.title {
    font-size: 28px;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #003d82;
}

/* LISTA DE CONTATOS */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e9ecef;
    margin: 8px 0;
    padding: 12px;
    border-radius: 5px;
}

/* DIALOGO */
dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}

.botaocad {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botaocad:hover {
    background-color: #003d82;
}
